{% extends 'base.html' %}

{% block content %}
    <h1> Nueva entrada  </h1>
    <main>
        <form action="/update_movement/{{pos}}" method="post">
            <label for="date">Introduce la entradas</label>
            <input type="date" name="date" id="date" value={{the_form.date}}>
            <label label="abstract">Introduce la concepto</label>
            <input type="text" name="abstract" value={{the_form.abstract}}>
            <label for="amount">Introduce el importe</label>
            <input type="number" name="amount" step="0.01" value={{the_form.amount}}>
            <label for="currency">Introduce el moneda</label>
            <select name="currency" id="currency" selected={{the_form.currency}}>
                <option value="EUR">Euros</option>
                <option value="USD">Dólares</option>
            </select>
            <button id="submit" type="submit">Enviar</button>
        </form>
    </main>
{% endblock %}
